.jumbotron {
    background-color: gray;
    color: black;
    margin-top: 50px;
}

.btn {
    background-color: blue;
    color: white;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: gray;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 8px;
}

.btn-booking-icon {
    padding-right: 8px;
}

.btn-social-icon {
    padding-right: 8px;
}